[setup]
;complete=1

[general]
; backends available:
; pixbuf, imlib, gd(not currently finished)
; imlib requires php-imlib package
; pixbuf requires php-pixbuf package
image_backend=imlib

[directory]
pictures=/mnt/storage/pictures

[options]
#sortby can be 'date', 'filename', or 'none'. defaults to 'filename' if unset
sortby=date

[image_thumbnail]
width=128
height=128
quality=80 

[image_small]
width=500
height=500
quality=80 

[movie]
mplayer_path=/usr/bin/mplayer
mplayer_params=-vo jpeg -ao null -frames 5 -noautosub
overlay=images/movie.jpg
